---
title: 管理人のプロフィール
layout: default
---
.main
  .profile
    %img{:src => "/image/profile.jpg"}/
    %hr/
    HN:†暗黒紅蓮堕天使☆武帝† (通称:ぶてい)
    %br/
    性別:生物学的には男
    %br/
    年齢:推定17歳 趣味:読書(漫画が好き)、ゲーム、アニメ鑑賞、自鯖いじり
    %br/
    好きな作品:ガンダム、攻殻機動隊
    %hr/
  %div
    = link_to 'もどる', '/index.html'
