!!!
%html{:lang => "ja"}
  %head
    %meta{:charset => "utf-8"}/
    %title 小説ページ
    %link{:href => "/css/default.css", :rel => "stylesheet"}/
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{:src => "/js/jquery.rightclick-disable.js"}
  %body
    .main
      近日公開予定
      %span{:style => "color:black"} (うそ)
